.header {
   &-top {
      background: #eff0f1;
      &__wrapp {
         display: flex;
         justify-content: space-between;
         padding-top: 16px;
         padding-bottom: 16px;
      }
      &__location,
      &__mail {
         max-width: 370px;
         display: flex;
         align-items: center;
      }
      &__clock {
         display: flex;
         flex-grow: 1;
         justify-content: flex-end;
         margin-right: 100px;
      }
      &-text {
         margin-left: 5px;
      }
   }
   &-bottom__wrapp {
      display: grid;
      grid-template-columns:
         minmax(180px, 245px)
         minmax(auto, 183px)
         minmax(auto, 516px)
         minmax(auto, 60px)
         minmax(auto, 180px);
      justify-content: space-between;
      padding-top: 25px;
      padding-bottom: 25px;
      column-gap: 40px;
      .logo__img {
         width: 100%;
      }
      .menu {
         display: flex;
         justify-content: space-between;
         align-items: center;
         font-weight: 500;
         line-height: 17px;
         .menu__link {
            margin-left: 40px;
         }
         .menu__link:first-child {
            margin-left: 0;
         }
      }
      .catalog {
         position: relative;
         width: 182px;
         padding: 14px 30px 14px 30px;
         color: white;
         background: linear-gradient(180deg, #6c69ff 0%, #4f4bff 100%);
         border-radius: 10px;
         cursor: pointer;

         &__summary {
            list-style: none;
         }
      }

      .catalog::before {
         content: "";
         display: block;
         position: absolute;
         right: 30px;
         width: 18px;
         height: 15px;
         background-image: url(../img/svg/burger.svg);
         z-index: 2;
      }
      .preview-cart {
         display: grid;
         grid-template-columns: repeat(2, 25px);
         gap: 5px 10px;
         text-align: center;
         &__count {
            text-align: center;
            grid-column-start: 2;
            padding: 4px;
            background: $paleblue;
            border-radius: 50%;
            height: 24px;
         }
         &__price {
            grid-row-start: 2;
            grid-column-start: 2;
         }
         &__count,
         &__price {
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: $graybrown;
         }
         &__img {
            grid-row-start: 2;
            transform: translateY(-10px);
         }
      }
      .order-call {
         &__img {
            padding: 8px;
            background: linear-gradient(180deg, #6b68ff 0%, #504cff 100%);
            border-radius: 50%;
         }
         &__link {
            width: 141px;
            font-weight: 700;
            
         }
         &__btn {
            width: 120px;
            font-size: 13px;
            line-height: 16px;
            color: $dullgray;
            background: none;
         }
      }
   }
}
