.contact-details {
   &__connection {
      grid-template-columns: 40px minmax(auto, 1fr);
      row-gap: 5px;
      column-gap: 10px
   }
   &__img_style {
      grid-row: 1/3;
   }
   &__li_style {
      margin: 15px 0;
   }
}
